# env
.env

# .claude
.claude/settings.local.json

# .cursor
.cursor/mcp.json

# .codex
.codex/skills/.system/

# .gemini

# scripts
scripts/backup/

# .handovers
.handovers/*
!.handovers/.keep

# others
.DS_Store

# .issues
.issues/draft/*
!.issues/draft/.keep
