# credentials
.env

# .cursor
.cursor/mcp.json
.cursor/hooks.json

# .docs
.docs/handovers/*
!.docs/handovers/.keep
.docs/issues/draft/*
!.docs/issues/draft/.keep
.docs/plans/*
!.docs/plans/.keep
.docs/learn/daily-term/*
!.docs/learn/daily-term/archive/.keep
.docs/learn/long-term/*
!.docs/learn/long-term/archive/.keep
.docs/learn/promotions/*
!.docs/learn/promotions/archive/.keep
